## Finderで開くと自動的に作られるファイル (Mac)
.DS_store

## LaTeX 中間生成ファイル
*.dvi
*.aux
*.nav
*.out
*.snm
*.toc
*.bbl
*.blg
*.lol
*.lot
*.lof
*.log
*.vrb

*.pdf
auto/

## タイプセット時に必要な実行ログ XXX.log を置く場合は
## code ディレクトリ以下に置いてトラッキング対象にしてください
!/**/code/*.log

## emacs オートセーブ
*.*~
#*.*#
